networks:
  turbolessons_cloud_service_net:
  email-service_net:
  event-service_net:
  message-service_net:
services:
  config-service:
    image: noslenj/config-service:latest
    container_name: config-service
    env_file:
      - ./root.env
    volumes: 
      - ./keystores/config.p12:/config/config.p12
      - config_keystore:/config
    ports:
      - "9999:9999"
    networks:
      - turbolessons_cloud_service_net
    healthcheck:
      test: ["CMD", "curl", "-f", "${CONFIG_ACTUATOR_URI}"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 20s

  service-registry:
    image: noslenj/service-registry:latest
    container_name: service-registry
    env_file:
      - ./root.env
    ports:
      - "8761:8761"
    networks:
      - turbolessons_cloud_service_net
    depends_on:
      config-service:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8761/actuator/health"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 20s

  admin-service:
    image: noslenj/admin-service:latest
    container_name: admin-service
    env_file:
      - ./root.env
    ports:
      - "5002:5002"
    networks:
      - turbolessons_cloud_service_net
    depends_on:
      service-registry:
        condition: service_healthy

  email-service:
    image: noslenj/email-service:latest
    container_name: email-service
    env_file:
      - ./root.env
    volumes:
      - emaildb_data:/data/db
      - ./template-thymeleaf.html:/app/mail-templates
    ports:
      - "5003:5003"
    networks:
      - turbolessons_cloud_service_net
      - email-service_net
    depends_on:
      emaildb:
        condition: service_started
      service-registry:
        condition: service_healthy

  emaildb:
    image: mongo:latest
    container_name: emaildb
    env_file:
      - ./root.env
    ports:
      - "5053:27017"
    networks:
      - turbolessons_cloud_service_net
      - email-service_net

  event-service:
    image: noslenj/event-service:latest
    container_name: event-service
    env_file:
      - ./root.env
    volumes:
      - lessondb_data:/var/lib/mysql
    ports:
      - "5001:5001"
    networks:
      - turbolessons_cloud_service_net
      - event-service_net
    depends_on:
      service-registry:
        condition: service_healthy

  lessondb:
    image: noslenj/lessondb:latest
    container_name: lessondb
    env_file:
      - ./root.env
    ports:
      - "5051:3306"
    volumes:
      - ~/init.sql:/docker-entrypoint-initdb.d/init.sql
      - lessondb_data:/var/lib/mysql
    networks:
      - turbolessons_cloud_service_net
      - event-service_net

  message-service:
    image: noslenj/message-service:latest
    container_name: message-service
    env_file:
      - ./root.env
    ports:
      - "5005:5005"
    networks:
      - turbolessons_cloud_service_net
      - message-service_net
    depends_on:
      messagedb:
        condition: service_started
      service-registry:
        condition: service_healthy

  messagedb:
    image: mongo:latest
    container_name: messagedb
    restart: always
    env_file:
      - ./root.env
    volumes:
      - messagedb_data:/data/db
    ports:
      - "5055:27017"
    networks:
      - turbolessons_cloud_service_net
      - message-service_net

  # video-service:
  #   image: noslenj/video-service:latest
  #   container_name: video-service
  #   env_file:
  #     - ./root.env
  #   volumes:
  #     - ./gcs:/gcs
  #   ports:
  #     - "5004:5004"
  #   networks:
  #     - turbolessons_cloud_service_net
  #   depends_on:
  #     service-registry:
  #       condition: service_healthy

  api-gateway:
    image: noslenj/api-gateway:latest
    container_name: api-gateway
    env_file:
      - ./root.env
    ports:
      - "8080:8080"
    networks:
      - turbolessons_cloud_service_net
    depends_on:
      service-registry:
        condition: service_healthy

  payment-service:
    image: noslenj/payment-service:latest
    container_name: payment-service
    env_file:
      - ./root.env
    ports:
      - "5010:5010"
    networks:
      - turbolessons_cloud_service_net
    depends_on:
      service-registry:
        condition: service_healthy

  turbolessons-frontend:
    image: noslenj/turbolessons-frontend:latest
    container_name: turbolessons-frontend
    env_file:
      - ./root.env
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
      - ./pem_files/fullchain.pem:/etc/letsencrypt/live/www.turbolessons.com/fullchain.pem
      - ./pem_files/privkey.pem:/etc/letsencrypt/live/www.turbolessons.com/privkey.pem
      - ./options-ssl-nginx.conf:/etc/letsencrypt/options-ssl-nginx.conf
      - ./ssl-dhparams.pem:/etc/letsencrypt/ssl-dhparams.pem
    networks:
      - turbolessons_cloud_service_net
    depends_on:
      service-registry:
        condition: service_healthy
volumes:
  emaildb_data:
  lessondb_data:
  messagedb_data:
  config_keystore: